body {
  background-color: #e5e5e5;
  color: #25282b;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 40px auto;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

nav li {
  list-style-type: none;
  margin-right: 16px;
}

nav li a {
  color: #25282b;
}

nav li:last-child {
  margin: 0;
  
}

nav li:last-child a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  width: 150px;
  height: 40px;
  background-color: #ff5e84;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

nav li:last-child a:hover {
  text-decoration: none;
  box-shadow: 0 8px 16px rgba(255, 0, 92, 0.20);
  transition: 400ms;
}

section.title {
  text-align: center;
}

section.title p {
  opacity: 0.7;
  margin: 0;
}

section.title h1 {
  margin: 0;
  font-size: 28px;
}

section.ideas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section.ideas .idea {
  margin: 0;
}

main {
  margin: 32px 0;
}

footer {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2;
  line-height: 18px;
  color: #777;
}

footer a {
  opacity: 0.7;
}

a {
  color: #ff5e84;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  color: #ff5e84;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.2;
  line-height: 18px;
  outline: none;
}

p, .description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1;
}

.idea {
  display: flex;
  margin-bottom: 20px;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.3);
}

.idea img {
  width: 60px;
  height: 60px;
  margin-right: 32px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}

section.title,
section.ideas,
footer {
  margin-top: 64px;
}
